//Typography
body{
    font-family: 'Corda Light', serif;
}

h1, h2, h3{
    font-family: 'Cardinal Photo', serif;
}

h1{
    font-size: 2em;
    letter-spacing: .05em;
    margin: 0 auto 1em;

    @include media-breakpoint-down(sm){
        font-size: 1.6em;
    }
}

h2{
    margin: 0 auto 1em;

    &.blue-title{
        display: inline-block;
        padding: 5px 10px;
        background: theme-color(darkblue);
        color: theme-color(white);
        font-size: 1.5em;
        margin-bottom: 25px;
    }
}

h3{
    font-size: 1.1em;
    margin: 0.1em auto .5em;
    line-height: 1.3em;
    letter-spacing: .05em;
}

h4{
    font-family: 'Graphik', sans-serif;
    padding: 0;
    margin-bottom: $grid-gutter / 2;
    font-size: .8em;
    text-transform: uppercase;
}

h5{
    margin: 1em auto 1em;
}

a{
    color: theme-color(darkblue);
    
    &:hover{
        text-decoration: underline;
        //color: inherit;
    }

    &.btn{
        background: theme-color(yellow);
        padding: 10px 25px;
        border: 0;
        border-radius: 0;

        &:hover{
            background-color: darken(theme-color(yellow), 10%);
        }
    }

    &.bigbutton{
        display: block;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        border: 0;
        padding: 10px 25px;
        transition: .25s;

        &.blue{
            color: theme-color(white);
            background: theme-color(darkblue);

            &:hover{
                color: theme-color(white);
                background: theme-color(darkblue);
            }
        }

        &.yellow{
            color: theme-color(black);
            background: theme-color(yellow);
            
            &:hover{
                color: theme-color(black);
                background: darken(theme-color(yellow), 10%);
            }
        }
    }
    
    &.wp-block-button__link{
        background: theme-color(yellow);
        color: theme-color(black);
        font-family: 'Graphik', sans-serif;
        transition: .25s;
        
        &:hover{
            color: theme-color(black);
            background: darken(theme-color(yellow), 10%);
        }
    }
}

p{
    line-height: 1.8;
    margin: 0 auto 1.5em;

    &.tagline{
        font-size: 1.2em;
    }
}

ol, ul{
    margin: 0 auto 1.5em; 

    li{
        margin-bottom: 1em;
    }
}

ol{
    list-style: none;
    counter-reset: tse-counter;

    li{
        counter-increment: tse-counter;

        &::before{
            content: counter(tse-counter) ". ";
            margin-right: 10px;
            font-weight: 600;
        }
    }
}

//Menu items
.nav{
    a{
        font-family: $graphik;
        text-transform: uppercase;
        color: theme-color(black);
        font-size: .8em;
      }
}

