/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  grey: #848B97,
  lightgrey: #F5F5F5,
  lightblue: #8DD0DE,
  darkblue: #0260B4,
  black: #000000,
  white: #F9F8F4,
  yellow: #FFD032,
  red: #FD5641,
  green: #01A890,
  pink: #E56698
);

// Padding
$section-padding: 50px;
$grid-gutter: 30px;
$content-width: 800px;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

@import "mixins";
