/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  grey: #848B97,
  lightgrey: #F5F5F5,
  lightblue: #8DD0DE,
  darkblue: #0260B4,
  black: #000000,
  white: #F9F8F4,
  yellow: #FFD032,
  red: #FD5641,
  green: #01A890,
  pink: #E56698
);

// Padding
$section-padding: 50px;
$grid-gutter: 30px;
$content-width: 800px;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

@import "mixins";

// Fonts

$graphik: 'Graphik', sans-serif;

@font-face {
  font-family: 'Cardinal Photo';
  src: url('../fonts/cardinalphotoweb-medium.woff') format('woff'),  
  url('../fonts/cardinalphotoweb-medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Corda Light';
  src: url('../fonts/CordaLight/font.woff') format('woff'),  
  url('../fonts/CordaLight/font.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Corda Light';
  src: url('../fonts/CordaLightItalic/font.woff') format('woff'),  
  url('../fonts/CordaLightItalic/font.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Graphik-Medium.woff') format('woff'), 
  url('../fonts/Graphik-Medium.ttf')  format('truetype'), 
  url('../fonts/Graphik-Medium.svg#Graphik-Regular') format('svg');
  font-weight: 600;
  font-style: normal;
}