footer.content-info{
    background-color: theme-color(yellow);
    padding: 1em 0;
    font-size: .7em;
    text-transform: uppercase;
    
    .row{
        justify-content: center;

        section{
            margin: 0;
        }
    }

    a{
        color: theme-color(black);
    }

    p{
        margin-bottom: 0;
        line-height: 1.5;
    }

    .menu{
        list-style: none;
        margin-bottom: 0;

        li {
            display: inline-block;
            margin: 0 20px 0 0;
        }
    }
}