.banner .nav li {
  @extend .nav-item;
}

.banner{
  margin-bottom: $section-padding;
  overflow: visible;
  background: theme-color(white);
  z-index: 99;

  .container{
    max-width: none;
  }

  .nav-primary{
    display: none;
    border-color: theme-color(grey);
    border-style: solid;
    border-width: 1px 0;
    overflow: visible;

    .container{
      display: flex;
      justify-content: space-between;

      .search{
        font-size: .7em;
        padding: 5px;
        
        form{
          flex-flow: row;
          height: 100%;

          input{
            border-radius: 0;
            padding: 5px 10px;
            height: 100%;
          }

          input[type='search']{
            line-height: 0;
            font-size: 1em;
            border-width: 1px;
          }

          input[type='submit']{
            background-color: theme-color(darkblue);
            border: 0;
            font-size: 1em;
          }
        }
      }
    }
  
    ul.nav{
      font-size: .9em;

      li{
        margin-bottom: 0;
      }

      &> li{
        position: relative;

        &.menu-item-has-children{
          cursor: default;
          
          &> a:after{
            content: '▼';
            display: inline-block;
            padding-left: 5px;
            font-size: .6em;
          }
        }

        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3){
          a{
            color: theme-color(darkblue);
          }
        }

        &:hover{

          a{
            color: theme-color(darkblue);
            border-color: theme-color(darkblue);
          }

          ul.sub-menu{
            opacity: 1;
            display: flex;
          }
        }
        
        &> a{
          @extend .nav-link;
          padding: .5rem 0;
          margin-right: 1rem;
          color: theme-color(black);
          border-bottom: 3px solid transparent;
        }
  
        ul.sub-menu{
          position: absolute;
          display: none;
          opacity: 0;
          left: 0;
          list-style: none;
          padding: 0;
          background: theme-color(white);
          border-top: 1px solid theme-color(grey);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
          flex-flow: column;
          transition: opacity .25s;

          a{
            padding: .5em 1em;
            white-space: nowrap;
            display: inline-block;
            color: theme-color(dark);
            width: 100%;

            &:hover{
              background: theme-color(yellow);
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .nav-primary{
      display: block;
    }
  }
}

.brand {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: $black;
  margin: 5px 0;

  a{
    color: theme-color(black);
  }

  .title {
    z-index: 2;
    line-height: 1.4em;

    .name {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.2em;
    }

    .description {
      display: none;
    }
  }

  img {
    position: absolute;
    left: 70px;
    top: 10%;
    height: 80%;
  }

  @include media-breakpoint-up(md){
    margin: $grid-gutter auto;
    height: 110px;
    text-align: center;

    img{
      z-index: -1;
      transform: translateX(-50%);
      left: 50%;
      top: 0;
      height: 100%;
    }

    .title{
      .description {
        display: block;
        font-size: 1em;
        color: theme-color(darkgrey);
      }
    }
  }
}
