////////////////////////////////////////////////////////

/*     TIMELINE   */

////////////////////////////////////////////////////////

#timelinePage{
    width: 100%;

    h1{
        text-align: center;
        font-weight: 600;
    }

    #timeline-top{
        width: 80%;
        margin: 0 auto 0px;
        font-size: 1.5em;
        text-align: center;
        padding-top: 0;
        p{
            margin-bottom: 0;
        }
    }
    #timeline-charts{
        background-color: theme-color(white);
        border-bottom: 1px solid black;
        padding: 30px 10px;

        &>div{
            float: left;
            h3{
                font-size: 1.2em;
                text-align: center;
            }
        }
        .house, .senate{
            width: 35%
        }
        .congress{
            width: 30%;
            h3{
                margin-bottom: 0;
            }
            .chart{
                width: 80%;
                max-width: 300px;
                margin: auto;
                position: relative;
                .percents{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 2em;
                }
            }
        }
        .barGraph{
            background: #EEE;
            height: 30px;
            width: 100%;
            div{
                height: 30px;
                float: left;
                transition: .5s;
            }
            .dem{
                background: #00adef;
            }
            .rep{
                background: #e54624;
            }
        }
        .written{
            font-size: 1.1em;
            p{
                margin-bottom: 0;
            }
        }
        .barGraph, .written{
            max-width: 300px;
            margin: 0 auto;
        }
        &.fixed{
            position: fixed;
            top: 38px;
            width: 100%;
            left: 50%;
            transform: translateX(-50%); 
            z-index: 99;
            max-width: 1500px;
            width: 100%;
        }
        .titles{
            width: 100%;
            margin-top: 50px;
            border-top: 5px solid black;
            h2{
                width: 50%;
                float: left;
                font-size: 1.5em;
                text-align: center;
                padding: 50px 0;
                margin-bottom: 0;
                &:nth-of-type(2){
                    border-left: 5px solid black;
                }
            }
        }
    }
    #timeline-content{
        padding: 0 0 200px;
        .event{
            position: relative;
            .year{
                padding: 5px 10px;
                background: black;
                display: inline-block;
                color: white;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                z-index: 98;
                
            }
            .content-wrap{
                .image{
                    padding: 80px 0;
                    img{
                        width: auto;
                        max-width: 100%;
                        max-height: 300px;
                    }
                    .caption{
                        font-style: oblique;
                        font-size: .8em;
                        padding: 10px 5px;
                    }
                }
                
                .text{
                    display: flex;
                    align-items: center;
                    padding: 0 $grid-gutter;

                    .text-wap{
                        max-width: 400px;
                    }
                }
            }

            &:nth-child(2n){
                .image{
                    text-align: right;
                    border-right: 5px black solid;
                }
            }

            &:nth-child(2n+1){
                .content-wrap{
                    flex-direction: row-reverse;
                }

                .image{
                    border-left: 5px black solid;
                    text-align: left;
                    transform: translate(-5px);
                }
            }

            &.past{
                .year{
                    position: fixed;
                    transform: translate(-50%, 100%);
                }   
            }

            a.link{
                padding: 5px 10px;
                background-color: $blue;
                color: #FFFFFF;
                i{
                    padding-left: 5px;
                    padding-right: 5px;
                    transition: .2s;
                }
                &:hover{
                    i{
                        padding-left: 10px;
                        padding-right: 0px;
                    }
                }
            }
            .gradient{
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 2;
                background-image: url('../images/white-gradient.png');
            }
        }
    }
    #timeline-notes{
        min-height: 500px;
    }

@include media-breakpoint-down(md){
    #timeline-content .event .content-wrap{
        padding: 0;
    }
}

@include media-breakpoint-down(sm){
        #timeline-top {
            font-size: 1.2em;
            margin: 0 auto;
            padding-top: 0;
        }

        #timeline-charts{
            padding: 10px 0px;

            .house, .senate{
                display: none;
            }
            .written{
                display: none;
            }
            .congress{
                width: 50%;
                float: none;
                margin: 0 auto;
                .chart{
                    .percents{
                        font-size: 1.2em;
                    }
                }
            }
            &.fixed{
                top: 0;
                width: 100%;
            }
        }

        #timeline-content {
            .event {
                border-left: 5px black solid;

                .year{
                    position: relative;
                    left: 25px;
                }

                .content-wrap {
                    .text {
                        border: 0;
                        width: 100%;
                        padding: $grid-gutter 20px;
                    }

                    .image {
                        border: 0;
                        width: 100%;
                        min-height: 0;
                        padding: 50px 0 0 15px;

                        img{
                            max-width: 100%;
                        }

                        .caption{
                            padding: 10px 15px;
                        }
                    }
                }

                &.past{
                    .year{
                        left: 49px;
                        transform: translate(-50%, 0%);
                    }
                }
                &:nth-child(2n){
                    .image{
                        text-align: left;   
                    }
                }

                &:nth-child(2n+1){
                    .image{
                        border-left: 0;
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}