.page-template-default:not(.home),
.page-template-page-about{
    .content{
        margin-bottom: $grid-gutter * 3;

        //Typography
        .page-header,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ul{
            max-width: 800px;
        }

        ul{
          margin: 0 auto;

          li{
              margin-bottom: 1em;
          }
        }
    }
}

.page-header{
    margin: 0 auto $grid-gutter;

    h1{
        margin-bottom: $grid-gutter / 2;
    }

    .subtitle{
        font-size: 1.5em;
    }
}

header{
  p{
    margin-bottom: 0;
  }
}

//Women in the news
#politics-leadership{
    .content{
        text-align: center;
    }

    .icon{
        max-width: 200px;
        margin: auto;
        margin-bottom: $grid-gutter;
    }
}
.home{
  .container {
    //width: 100%;
    //max-width: 1500px;
    //padding: 0;
    margin: 0 auto;

    section:first-of-type {
      margin-top: 0;
    }
  }

  .content {
    display: flex;
    flex-flow: row wrap;
    @extend .row;

    .main {
      @extend .col-lg-8;

      .section-heading {
        margin-bottom: 10px;
      }
    }

    .sidebar {
      @extend .col-lg-4;

      @include media-breakpoint-up(lg) {
        padding-left: $grid-gutter;
      };
    }
  }
}

.container.brand {
  height: auto;
  //z-index: 1040;
  margin: 0 auto;
  background-color: theme-color(white);

  .header-icon {
    padding: 20px;
  }

  .site-logo {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  + .stick-to-top__placeholder {
    display: none;
  }

  @include media-breakpoint-down(sm) {
    &.stick-to-top {
      position: fixed;
      top: 0;

      + .stick-to-top__placeholder {
        display: block;
      }
    }

    .header-icon {
      position: relative;
      padding: 10px 25px;
    }

    .site-logo {
      position: absolute;
      left: 0;
      top: 50%;
      max-width: 50px;
      transform: translate(0, -50%);
    }

    .title {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }
}

.page-home-icon {
  @extend .col-md-4;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 30px;
  text-align: center;

  .icon {
    flex: 0 1 auto;
    margin-bottom: 20px;
    width: 80%;

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 150px;
      height: 100%;
      transition: transform .2s;
    }

    .icon-link {
      &:hover,
      &:focus {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  .btn {
    margin-top: auto;
  }
}
