.single{
    .content{
        margin:0 auto $grid-gutter * 2;
        
        article{
            margin:50px 0;
        }
        //Typography
        .page-header,
        p,
        h1, 
        h2,
        h3,
        h4,
        h5,
        h6,
        .transcript-box,
        ul{
            max-width: 800px;
        }

        .transcript-box{
            margin: 0 auto;
        }

    
        .page-header{
            position:relative;
        }
        
        p.subtitle{
            font-size:1.2em;
            line-height: 1.2em;
            margin-bottom:5px;
        }

        time{
            color: theme-color(grey);
            display:block;
            margin-bottom:$grid-gutter;
        }

        .author-meta{
            display: flex;
            align-items: center;

            .author_thumbnail{
                display:inline-block;
                width:40px;
                height:40px;
                border-radius:50%;
                margin-right:10px;
                overflow: hidden;

                img{
                    min-width: 100%;
                    min-height: 100%;
                }
            }

            a{
                margin-left: 5px;
            }
        }

        .video{
            margin: $grid-gutter 0;

        }
    }
}

@include media-breakpoint-up(md){
   
}
    

    
    
    

    
    

    