.footer-cta{
    background-color: theme-color(black);
    background-size: cover;
    background-position: center;
    margin-top: $grid-gutter;
    position: relative;
    margin-bottom: -2*$grid-gutter;

    h2{
        font-size: 2rem;
    }
    
    .wrap{
        text-align: center;
        color: theme-color(white);
        padding: 10rem 1rem;
        position: relative;
        z-index: 2;
    }

    img{
        opacity: .8;
    }
}

.alm-single-post .footer-cta{
    margin-bottom: $grid-gutter;
}