.wp-block.scrolling-story{
    // margin-top: 50vh;
}

.scrolling-story-text{
    padding: 2rem;
    background-color: theme-color(yellow);
    width: 80%;
    position: sticky;
    top: 50%;
    margin: auto;
    z-index: 3;
    max-width: 700px;
}

.scrolling-story-slide{
    min-height: 100vh;
    display: flex;
    align-items: center;

    &:nth-child(2){
        margin-top: -50vh;
    }

    .image{
        width: 100%;
        text-align: center;
    }

    img{
        &:nth-child(2){
            transform: translate(-10%, 7rem);
        }
    }
}