.wp-block.scrolling-story{

}

.scrolling-story-text{
    padding: 2rem;
    background-color: theme-color(yellow);
    width: 80%;
    position: sticky;
    top: 50%;
    margin: 50vh auto 0;
    z-index: 3;
}

.scrolling-story-slide{
    min-height: 100vh;
    display: flex;
    align-items: center;

    &.no-image{
        height: 50vh;
        margin-top: -50vh;
    }

    img{
        flex: 1;
        width: 60%;

        &:nth-child(2){
            transform: translate(-10%, 7rem);
        }
    }
}