.wp-block.scrolling-story{
    margin-top: 50vh;
}

.scrolling-story-text{
    width: 80%;
    position: sticky;
    top: 40%;
    margin: auto;
    height: 0;
    z-index: 3;
    
}

.scrolling-story-wrap{
    padding: 2rem;
    background-color: theme-color(yellow);
    max-width: 700px;
}

.scrolling-story-slide{
    min-height: 100vh;
    display: flex;
    align-items: center;

    &:nth-child(2){
        margin-top: -50vh;
    }
}

.scrolling-story-image{
    width: 100%;
    text-align: left;
    padding-bottom: 5rem;

    img{
        width: 100%;
    }

    &:nth-child(2){
        display: none;
    }

    @include media-breakpoint-up(lg){
        &:nth-child(2){
            display: block;
            transform: translate(-10%, 7rem);
        }
    }
}