.banner.banner-component {
  display: flex;
  position: relative;
  height: 250px;
  margin: 20px 0;
  background: theme-color(yellow);
  background-repeat: no-repeat;
  background-size: contain;

  &:hover {
    background-color: theme-color(dark-yellow);

    p {
      color: theme-color(darkblue)
    }
  }

  .wrap {
    flex: 0 0 34%;
    margin: auto 5% auto auto;
    text-align: center;

    h6 {
      color: theme-color(black);
      font-weight: 700;
      font-size: 1.2em;
      letter-spacing: 0;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    p {
      margin: 0;
      font-weight: 600;
      font-size: 1.2em;
      line-height: 1.2em;
    }
  }

  @include media-breakpoint-down(sm){
    background-size: cover;

    .wrap{
      background-color: rgba(theme-color(yellow), .95);
      margin: 0;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $grid-gutter;
      flex-flow: column;
    }
  }
}
