// Blocks
.section-title{
    border-top: 1px solid theme-color(darkblue);
    padding-top: $grid-gutter / 2;
  
    h2{
      color: theme-color(darkblue);
    }
  }
  
  //Featured Categories
  .featured-category{
    padding: $grid-gutter 0;

    &.style-2{
      .post-group{
        @extend .row;
      }

      .left{
        .post-wrap{
          flex-flow: row-reverse;

          .entry-thumbnail{
            @extend .col-md-7;
          }

          .entry-text{
            @extend .col-md-5;
            padding-left: 0;
          }
        }
      }
      
      .right{
        .post-item{
          padding-bottom: $grid-gutter / 2;
          border-bottom: 1px solid theme-color(grey);

          &:last-child{
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
          }
        }

        .post-wrap{
          flex-flow: row-reverse;

          .entry-text{
            padding-left: 0;
          }
        }
      }
    }
    
    &.style-3{
      .left{
        border-right: 1px solid theme-color(grey);
      }
      
      .right{
        padding-left: $grid-gutter;

        .post-group{
          @extend .row;
          flex-flow: column;
          height: 100%;
        }

        .post-item{
          flex: 1;
          
          .post-wrap{
            flex-flow: row-reverse;

            .entry-text{
              @extend .col-md-6;
              padding-left: 0;
            }

            .entry-thumbnail{
              @extend .col-md-6;
            }
          }

          &:first-child{
            padding-bottom: $grid-gutter;
            border-bottom: 1px solid theme-color(grey);
          }

          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }


  // Landing Page Top
  .landing-page-top{
    .left-column{
      padding-right: $grid-gutter;
  
      .podcast{
        .section-title{
          border-top-color: theme-color(green);
        }
  
        h2{
          color: theme-color(green);
        }
  
        .post-item{
          .post-wrap{
            flex-flow: row-reverse;
            align-items: center;
  
            .entry-text{
              padding: 0 $grid-gutter / 2;
            }
  
            .entry-thumbnail{
              border-bottom: 0;
  
              .thumbnail{
                padding-top: 100%;
              }
            }
          }
        }
      }
    }
  
    .latest-posts{
      padding-left: $grid-gutter;
  
      .post-item{
        .post-wrap{
          border-bottom: 1px solid theme-color(grey);
          padding-bottom: $grid-gutter / 2;  
        }

        &:last-child{
          .post-wrap{
            border-bottom: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  
    .post-group.format-vertical{
      flex-flow: column;
    }
  }
  
.featured-video{
  .section-title{
    border-top-color: theme-color(red);
  }

  h2{
    color: theme-color(red);
  }

  .post-item{
    width: 100%;

    .post-wrap{
      display: flex;
      flex-flow: row-reverse;

      .entry-text{
        @extend .col-md-6;
      }

      .entry-thumbnail{
        @extend .col-md-6;
      }
    }
  }
}

.newsletter-subscribe{
  background-color: theme-color(yellow);
  text-align: center;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: $grid-gutter;
}
  