.home{
    .player_container{
        .sppbuttons{
            display: none!important;
        }
    }
}
.player_container{
    margin: 0;

    .spp_player_textabove,
    .spp-powered-by{
        display: none;
    }

    .sm2-bar-ui .bd, 
    .sm2-bar-ui .sm2-extra-controls{
        border: 1px solid theme-color(grey)!important;
    }

    .sm2-bar-ui .sm2-playlist ul,
    .sm2-playlist-bd{
        padding-left: 0;
    }
}

.category-podcast{
    .audioplayer {
        margin: auto;
        max-width: 600px;
    }

    .sppbuttons {
        display: block;
        margin-top: 10px;
    }

}

.template-podcast{
    .sppbuttons {
        display: none!important;
    }
}