article.post-item{

    .entry-thumbnail{
        position: relative;
        margin-bottom: $grid-gutter / 2;
        border-bottom: 5px solid theme-color(yellow);

        .tags{
            position: absolute;
            bottom: 10px;
            left: 10px;
            z-index: 2;

            .tag{
                background: theme-color(lightgrey);
                padding: 5px 10px;
                border-radius: 1em;
                color: theme-color(darkgrey);
                display: inline-block;
            }
        }
    }

    .thumbnail{
        height: 0;
        padding-top: 60%;
        position: relative;
        background-color: theme-color(lightgrey);

        &:hover{
            img{
                opacity: .8;
            }
        }

        img{
            transition: .25s;
        }
    }

    .entry-text{

        p{
            margin-bottom: 0;
        }
    }
}