.post-group{
    flex-wrap: wrap;

    article{
        margin-bottom: $grid-gutter;
    }

    &.format-vertical,
    &.format-horizontal {
      .post-image-link {
        display: block;
        width: 100%;
        height: 100%; 
      }
    }

    &.format-vertical{
      flex-direction: row;
      padding: 0 7.5px;

        article{
            display: flex;
            flex-flow: column;
            padding: 0 7.5px;
        }

        .post-wrap {
          display: flex;
          flex-flow: column nowrap;
          flex: 1 0 100%;

          .entry-thumbnail {
            overflow: hidden;
          }
        }

        &.feature-first{
            //Featured article
            article:first-child{
                @extend .col-md-12;

                .post-wrap{
                    @extend .row;
                    flex-direction: row;
                    flex: auto;

                    &> div{
                        @extend .col-md-6;
                    }

                    .tags{
                      left: 25px;
                    }
                }

                .entry-text{
                    @include media-breakpoint-up(md){
                        padding-left: $grid-gutter;

                        h3{
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

    &.format-horizontal {
      article {
        @extend .col-lg-12;
      }

      .post-wrap {
        display: flex;
        flex-flow: row nowrap;

        @include media-breakpoint-down(sm) {
          flex-flow: row wrap;
        }
      }

      .entry-thumbnail {
        @extend .col-md-4;
        padding: 0;
        margin-bottom: 0;
      }

      .entry-text {
        @include media-breakpoint-up(md) {
            padding-left: $grid-gutter;
        }

        @include media-breakpoint-down(sm) {
          padding-top: 5px;
        }
      }

      .entry-content p {
        margin-bottom: 0;
      }
    }

    &.format-featured {
      article {
        a {
          color: inherit;
        }

        p {
          font-size: 1em;
          line-height: 1.3em;
        }

        .entry-thumbnail{
          margin-bottom: 0;

          .thumbnail{
            &:hover img{
              opacity: 1;
            }
          }
        }

        .entry-text{
          padding-top: 20px;

          h3{
            font-size: 1.5em;
          }
        }
      }
    }

    &.feature-first{
      article:first-child{
        .entry-text{
          .excerpt{
            display: block;
          }
        }
      }
    }
}
