article.post-item{

    .entry-thumbnail{
        position: relative;
        margin-bottom: $grid-gutter / 2;

        .tags{
            position: absolute;
            bottom: 10px;
            left: 10px;
            z-index: 2;

            .tag{
                background: theme-color(lightgrey);
                padding: 5px 10px;
                border-radius: 1em;
                color: theme-color(darkgrey);
                display: inline-block;
            }
        }
    }

    .thumbnail{
        height: 0;
        padding-top: 60%;
        position: relative;
        background-color: theme-color(lightgrey);
        border-bottom: 5px solid theme-color(yellow);

        &:hover{
            img{
                opacity: .8;
            }
        }

        img{
            transition: .25s;
        }
    }

    .entry-text{

        p{
            margin-bottom: 0;
        }
    }

    .play{
        width: 70px;
        height: 70px;
        border-radius: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid theme-color(black);
        padding-left: 3px;

        .triangle{
            width: 0; 
            height: 0; 
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent; 
            border-left:15px solid theme-color(black); 
        }
    }

    // Categories
    &.category-entrepreneur-videos{
        .entry-thumbnail .thumbnail{
            border-color: theme-color(red);
        }

        .play{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
            border-color: theme-color(white);
            
            .triangle{
                border-left-color: theme-color(white);
            }
        }
    }
    
    &.category-podcast{
        .entry-thumbnail .thumbnail{
            border-color: theme-color(green);
        }
    }

    &.category-advice-tips{
        .entry-thumbnail .thumbnail{
            border-color: theme-color(darkblue);
        }
    }
    
    &.category-yse{
        .entry-thumbnail .thumbnail{
            border-color: theme-color(pink);
        }
    }
}