article.post-item{

    .entry-thumbnail{
        position: relative;
        margin-bottom: $grid-gutter / 3;

        .tags{
            position: absolute;
            bottom: 10px;
            left: 10px;
            z-index: 2;

            .tag{
                background: theme-color(lightgrey);
                padding: 5px 10px;
                border-radius: 1em;
                color: theme-color(darkgrey);
                display: inline-block;
            }
        }
    }

    &:hover .thumbnail{

        &:after,
        &:before{
            animation-name: border-sides;
            animation-duration: .25s;
        }
        
        &:before{
            animation-delay: .5s;
        }
        
        a:before{
            animation-delay: .25s;
            animation-duration: .25s;
            animation-name: border-top;
        }
    }

    .thumbnail{
        height: 0;
        padding-top: 60%;
        position: relative;
        background-color: theme-color(lightgrey);
        border-bottom: 5px solid theme-color(yellow);

        &:after,
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            height: 0%;
            width: 5px;
            background: theme-color(yellow);
            animation-fill-mode: forwards;
            transition: .25s;
            z-index: 2;
        }
        
        &:before{
            left: 0;
            top: 0;
        }

        a:before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 0%;
            height: 5px;
            background: theme-color(yellow);
            animation-fill-mode: forwards;
            transition: .35s;
            z-index: 2;
        }
    }

    .entry-text{
        p{
            margin-bottom: 0;
        }

        .excerpt{
            display: none;
        }
    }

    .play{
        display: none;
        width: 70px;
        height: 70px;
        border-radius: 70px;
        align-items: center;
        justify-content: center;
        border: 1px solid theme-color(black);
        padding-left: 3px;
        pointer-events: none;

        .triangle{
            width: 0; 
            height: 0; 
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent; 
            border-left:15px solid theme-color(black); 
        }
    }

    .cats{
        button{
            font-family: 'Graphik', sans-serif;
            background-color: transparent;
            border: 0;
            padding: 0 0 5px;
            margin-right: 10px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: .8em;
        }
    }

    // Categories   
    &.category-podcast{
        .entry-thumbnail .thumbnail{
            border-color: theme-color(green);
            
            &:before,
            &:after,
            a:before{
                background-color: theme-color(green);
            }
        }
    }

    &.category-startup-tips{
        .entry-thumbnail .thumbnail{
            border-color: theme-color(darkblue);

            &:before,
            &:after,
            a:before{
                background-color: theme-color(darkblue);
            }
        }

        .cats button{
            color: theme-color(darkblue);
        }
    }
    
    &.category-yse{
        .entry-thumbnail .thumbnail{
            border-color: theme-color(pink);

            &:before,
            &:after,
            a:before{
                background-color: theme-color(pink);
            }
        }
    }

    &.category-entrepreneur-videos{
        .entry-thumbnail .thumbnail{
            border-color: theme-color(red);

            &:before,
            &:after,
            a:before{
                background-color: theme-color(red);
            }
        }

        .play{
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
            border-color: theme-color(white);
            
            .triangle{
                border-left-color: theme-color(white);
            }
        }
    }
}

@keyframes border-sides {
    from {height: 0%;}
    to {height: 100%;}
  }

@keyframes border-top {
    from {width: 0%;}
    to {width: 100%;}
  }