.social-icons {
  width: 200px;
  
  h4{
    margin-bottom: 5px;
  }
  
  .wrap{
    display: flex;
    justify-content: space-between;
  }

  .social {
    color: theme-color(black);
    font-size: 1.2em;
    transition: .5s;

    // FIX for replaced icons
    .svg-inline--fa {
      width: .7em;
    }

    &:hover{
      color: theme-color(darkblue);
    }
  }

  @include media-breakpoint-down(lg) {
    bottom: 40px;
    right: $grid-gutter;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}
