
.category-entrepreneur-videos{

    .videos{
        margin-bottom: $grid-gutter;

        .page-number{
            text-align: center;

            span,
            a{
                margin: 0 5px;
            }
        }
    }

    .video-post{
        //@include grid-container;
        //@include grid-collapse;
        margin-bottom: 30px;

        .thumbnail{
            //@include grid-column(4);
            margin-bottom: 10px;
        }

        .content{
            ///@include grid-column(8);

            h6{
                color: theme-color(darkblue);
                font-size: 14px;
                letter-spacing: 0;
                font-weight: 400;
                line-height: 1;
                margin-bottom: 2px;

                a{
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }

            h3{
                font-size: 20px;
                letter-spacing: 0;
                font-weight: 600;
                margin-bottom: .5em;
            }

            .swp_social_panel{
                display: none;
            }
        }
    }

    .videos-sidebar{
        display: block;

        section{
            margin-bottom: $grid-gutter;
            flex: 1 0 50%;

            h2{
                font-size: 25px;
                margin-bottom: 20px;
            }
        }

        #popularVideos{

            .popular-post{
                display: flex;
                border-bottom: 1px solid theme-color(darkgrey);
                padding: 15px 0;
        
                &:last-child{
                    border-bottom: 0;
                }
        
                .count{
                    min-width: 40px;
                    font-weight: 600;
                }
                .post-link{
                    flex-grow: 1;
        
                    a{
                        color: theme-color(black);
        
                        &:hover{
                            color: theme-color(darkblue);
                        }
                    }
                }
            }
        }

        #youtubeBanner{
            display: none;
        }

        #playlists{

            .playlist{
                margin-bottom: 30px;

                a{
                    cursor: pointer;
                    color: theme-color(darkblue);
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        .videos-sidebar{
            display: flex;
            flex-wrap: wrap;

            #playlists{
                padding-right: $grid-gutter;
            }

            #videocategories{
                border-left: 1px solid theme-color(darkgrey);
                padding-left: $grid-gutter;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .videos-sidebar{
            display: block;

            #playlists{
                border-left: 1px solid theme-color(darkgrey);
                padding-left: $grid-gutter;
            }

            #popularVideos{
                border-left: 1px solid theme-color(darkgrey);
                padding-left: $grid-gutter;
            }

            #youtubeBanner{
                background: theme-color(lightgrey);
                padding: 10px 20px;
                display: flex;
                align-items: center;
    
                p{
                    flex-grow: 1;
                    margin: 0;
                    font-weight: 600;
                }
    
                iframe{
                    margin-top: 0px!important;
                }
            }
        }

        .video-post{
            &:first-child{
                .thumbnail{
                    @include make-col(12);
    
                    .wrap-out .wrap-in{
                        .play-button{
                            font-size: 2em;
                            padding: 10px 30px;
                        }
                    }
                }
        
                .content{
                    @include make-col(12);
                }
            }
        }
    }
}