footer.content-info{
    background-color: theme-color(yellow);
    padding: $grid-gutter 0 $grid-gutter / 2;
    text-transform: uppercase;

    .footer-main{
        display: flex;
        align-items: center;
        padding-bottom: $grid-gutter / 2;
        margin-bottom: $grid-gutter / 2;
        border-bottom: 1px solid theme-color(grey);

        .logo{
            img{
                width: 100px;
            }
        }

        .menu{
            flex: 1;

            .nav{
                justify-content: center;

                a{
                    margin: 0 $grid-gutter;
                }
            }
        }
    }

    .copyright{
        font-size: .7em;
    }
    
    .row{
        justify-content: center;

        section{
            margin: 0;
        }
    }

    a{
        color: theme-color(black);
    }

    p{
        margin-bottom: 0;
        line-height: 1.5;
    }

    .menu{
        list-style: none;
        margin-bottom: 0;

        li {
            display: inline-block;
            margin: 0 20px 0 0;
        }
    }
}