.site-header{
  margin-bottom: $grid-gutter;
  background: #fff;
  z-index: 99;
  
  .row{
    border-bottom: 1px solid theme-color(yellow);
    align-items: center;
  }

  .top-right,
  .top-left{
    flex: 1;
    display: flex;
    font-family: 'Graphik', sans-serif;
    align-items: center;
    display: none;

      @include media-breakpoint-up(md){
        display: flex;
      }

    nav{
      display: none;

      @include media-breakpoint-up(md){
        display: block;
        
        ul li{
          margin-bottom: 0;
          padding: 0 10px;
        }
      }
    }
  }

  .top-left{
    .hamburger{
      margin-right: 20px;
    }
  }

  .top-right{
    justify-content: flex-end;

    li:last-child{
      a{
        background-color: theme-color(yellow);
        padding: .5em 1em;
        border-radius: 2em;
      }
    }
  }

  .brand{
    padding: 10px;

    img{
      width: 120px;
    }

    @include media-breakpoint-up(md){
      padding: 10px 0;

      img{
        width: 180px;
      } 
    }
  }
}

#fullMenu{
  display: none;
}

//Side Menu
.side-menu__toggle-button{
  right: 50px;
  left: auto;
  top: 10px;
  background-color: theme-color(white);
  
  .side-menu__toggle-button__icon--open{
    background-color: theme-color(white);
  }
}