//////////////////////////////
// Template
// Brilliant Businesses
//////////////////////////////

.page.template-brilliant-businesses{
    .page-header{
        text-align: center;
        max-width: 600px;

        .subtitle{
            line-height: 1.3em;
        }
    }

    .business-section{
        margin-top: $grid-gutter;

        .row{
            justify-content: center;

            .entry-thumbnail{
                //margin-bottom: 10px;
            }
        }

        .excerpt{
            display: block;
        }
        
        @include media-breakpoint-up(md){
            margin-top: $grid-gutter * 2;
        }
    }

    h2{
        text-align: center;
    }
}