//////////////////////////////
// Template
// Brilliant Businesses
//////////////////////////////

.page.template-brilliant-businesses{
    .page-header{
        text-align: center;
        max-width: 600px;

        .subtitle{
            line-height: 1.3em;
        }
    }
    
    .page-content{
        margin-bottom: $grid-gutter
    }

    .business-section{
        .post-item{
            margin-bottom: $grid-gutter
        }

        .row{
            justify-content: center;

            .entry-thumbnail{
                display: flex;
                height: 280px;

                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                @include media-breakpoint-up(md){
                    height: 180px;
                }
            }
        }

        .excerpt{
            display: block;
        }
        
        @include media-breakpoint-up(md){
            margin-top: $grid-gutter * 2;
        }
    }

    h2{
        text-align: center;
    }
}