.page.podcast{
    .left-sidebar{
        .buttonsWrap{
            display: flex;
            flex-wrap: wrap;

            a{
                color: theme-color(white);
                flex: 0 0 48%;
                background-color: theme-color(bdarkbluelue);
                transition: .25s;
                text-align: center;
                padding: 10px;
                margin:1%;

                &:hover{
                    background-color: theme-color(darkblue);
                }
            }
        }
    }

    .right-content{
        .podcast{
            h6{
                color: theme-color(grey);
            }

            &:first-child{
                .image{
                    @extend .col-md-6;
                    padding: 0;

                    .fill img{
                        height: 100%;
                        width: auto;
                        max-width: none;
                    }
                }
                .text{
                    @extend .col-md-6;
                    padding: $grid-gutter;
                    background: theme-color(lightgrey);
                }
            }
        }
    }

    @include media-breakpoint-up(md){
        .left-sidebar{
            padding-right: $grid-gutter;
        }
        .right-content{
            padding-left: $grid-gutter;

            .podcast{
                margin-bottom: $grid-gutter * 2;

                h3{
                    margin-top: 0;
                }
            }
        }
    }
}

.button-itunes:before {
    font-family: 'Font Awesome 5 Brands';
    content: "\f3b5";
    margin-right: 10px;
}