.single{
    .content{
        margin:0 auto $grid-gutter * 2;
        
        article{
            margin:50px 0;
        }
        //Typography
        .page-header,
        p,
        h1, 
        h2,
        h3,
        h4,
        h5,
        h6,
        .transcript-box,
        .player_container,
        .wp-block-embed-youtube,
        ul,
        ol,
        section.video{
            max-width: 800px;
        }

        .transcript-box{
            margin: 0 auto;
        }

        .player_container{
            margin: 0 auto $grid-gutter;
        }

        blockquote{
            max-width: 800px;
            margin: $grid-gutter auto;

            p{
                padding: 0 0;
                
                &:first-child{
                    color: theme-color(darkblue);
                    font-size: 1.5em;
                    font-weight: 300;
                    margin-bottom: 10px;
                }

                &:last-child{
                    text-align: right;
                }
            }
        }

        .wp-block-embed-instagram{
            iframe{
                margin: 0 auto!important;
            }
        }

        .caption{
            font-style: italic;
            color: theme-color(grey);
        }

    
        .page-header{
            position:relative;
            display: flex;

            .thousandStoriesLogo{
                display: block;
                flex: 0 0 150px;
                padding-right: $grid-gutter;
            }

            @include media-breakpoint-down(sm){
                flex-flow: column;

                .thousandStoriesLogo{
                    flex: 1;

                    img{
                        display: none;
                    }

                    &:before{
                        content: "1,000+ Stories";
                        text-transform: uppercase;
                        color: theme-color(darkblue);
                        letter-spacing: .05em;
                    }
                }
            }
        }

        h2, 
        h3{
            margin-top: $grid-gutter;
        }

        h2{
            font-size: 1.5em;
        }
        
        p.subtitle{
            font-size:1.2em;
            line-height: 1.2em;
            margin-bottom:5px;
        }

        time{
            color: theme-color(grey);
            display:block;
            margin-bottom:$grid-gutter;
        }

        .author-meta{
            display: flex;
            align-items: center;

            .author_thumbnail{
                display:inline-block;
                width:40px;
                height:40px;
                border-radius:50%;
                margin-right:10px;
                overflow: hidden;

                img{
                    min-width: 100%;
                    min-height: 100%;
                }
            }

            a{
                margin-left: 5px;
            }
        }

        .wp-block-image{
            margin: $grid-gutter auto;
            
            img{
                margin: auto;
                display: block;
                height: auto;
            }
            
            figcaption{
                color: theme-color(grey);
                font-style: italic;
            }
        }

        figure.wp-block-image{
            display: table;
            width: auto!important;
            
            figcaption{
                display: table-caption;
                caption-side: bottom;
            }
        }

        .video,
        .wp-block-embed-youtube{
            margin: $grid-gutter auto;

            &.alignleft{
                @include media-breakpoint-up(md){
                    margin: 0;
                    margin-right: .5rem;
                    max-width: 500px;
                }
            }

            &.alignright{
                @include media-breakpoint-up(md){
                    margin: 0;
                    margin-left: .5rem;
                    max-width: 500px;
                }
            }
        }

        .newsletter-banner{
            background-color: theme-color(yellow);
            text-align: center;
            padding: $grid-gutter;
            margin: $grid-gutter 0 0;

            p{
                margin-bottom: 0;
                font-size: 1.2em;
            }

            div > div{
                width: 100%!important;

                &> div{
                    display: flex!important;
                    width: 100%!important;
                    max-width: 500px;
                    margin: auto;
    
                    fieldset:nth-last-child(2){
                        flex: 1;
                    }
    
                    fieldset:nth-last-child(1){
                        width: 140px;

                        button{
                            background-color: theme-color(darkblue)!important;
                        }
                    }
                }
            }
        }
    }
}

// Product List
.post-template-template-product-list{
    .wrap.container{
        max-width: none!important;
        padding: 0;

        .content{
            margin-bottom: 0;
        }
    }
}

#productList{
    background: theme-color(lightgrey);
    margin: $grid-gutter * 2 0 0;
    padding: $grid-gutter * 2 0;
    border-top: 1px solid theme-color(grey);
    
    .product{
        margin-bottom: $grid-gutter;

        .product-wrap{
            background-color: theme-color(white);
            box-shadow: 0px 0px 10px 0px rgba(theme-color(grey), .2);
            padding: 0;
            height: 100%;

            .thumbnail{
                position: relative;
                background: theme-color(lightgrey);
                height: 0;
                padding-top: 52.4%;
                overflow: hidden;

                img{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    height: 100%;
                }
            }

            .text{
                padding: $grid-gutter;
            }
        }
    }
}