.single{
    .page-header{
        position:relative;
        display: flex;

        .thousandStoriesLogo{
            display: block;
            flex: 0 0 150px;
            padding-right: $grid-gutter;
        }

        @include media-breakpoint-down(sm){
            flex-flow: column;

            .thousandStoriesLogo{
                flex: 1;

                img{
                    display: none;
                }

                &:before{
                    content: "1,000+ Stories";
                    text-transform: uppercase;
                    color: theme-color(darkblue);
                    letter-spacing: .05em;
                }
            }
        }        
    }
    
    .content{
        margin:0 auto $grid-gutter * 2;

        .transcript-box{
            margin: 0 auto;
        }

        .player_container{
            margin: 0 auto $grid-gutter;
        }

        blockquote{
            margin: $grid-gutter auto;

            p{
                padding: 0 0;
                
                &:first-child{
                    color: theme-color(darkblue);
                    font-size: 1.5em;
                    font-weight: 300;
                    margin-bottom: 10px;
                }

                &:last-child{
                    text-align: right;
                }
            }
        }

        iframe.instagram-media,
        .wp-block-embed-instagram iframe{
                margin: 0 auto!important;
        }

        .caption{
            font-style: italic;
            color: theme-color(grey);
        }

        .page-header.center .header-content{
            text-align: center;
            display: flex;
            flex-flow: column;
            align-items: center;
        }

    
        

        h2, 
        h3{
            margin-top: $grid-gutter;
        }

        h2{
            font-size: 1.5em;
        }
        
        p.subtitle{
            font-size:1.2em;
            line-height: 1.2em;
            margin-bottom:5px;
        }

        time{
            color: theme-color(grey);
            display:block;
            margin-bottom:$grid-gutter;
        }

        .author-meta{
            display: flex;
            align-items: center;

            .author_thumbnail{
                display:inline-block;
                width:40px;
                height:40px;
                border-radius:50%;
                margin-right:10px;
                overflow: hidden;
                font-size: 0;

                img{
                    min-width: 100%;
                    min-height: 100%;
                    height: auto;
                }
            }

            a{
                margin-left: 5px;
            }
        }

        .wp-block-image{
            margin: $grid-gutter auto;

            figure{
                width: 100%;
                background-color: theme-color(lightgrey);
            }
            
            img{
                margin: auto;
                display: block;
                height: auto;
            }
            
            figcaption{
                color: theme-color(grey);
                background-color: theme-color(white);
                font-style: italic;
                margin: 0;
                padding: 10px 0;
            }
        }

        figure.wp-block-image{
            display: table;
            width: auto!important;
            
            figcaption{
                display: table-caption;
                caption-side: bottom;
            }
        }

        .video,
        .wp-block-embed-youtube{
            margin: $grid-gutter auto;

            &.alignleft{
                @include media-breakpoint-up(md){
                    margin: 0;
                    margin-right: .5rem;
                    max-width: 500px;
                }
            }

            &.alignright{
                @include media-breakpoint-up(md){
                    margin: 0;
                    margin-left: .5rem;
                    max-width: 500px;
                }
            }
        }

        .newsletter-banner{
            background-color: theme-color(yellow);
            text-align: center;
            padding: $grid-gutter;
            margin: $grid-gutter 0 0;

            p{
                font-size: 1.1em;
            }

            #embed_signup_scroll{
                display: flex;
                max-width: 400px;
                margin: auto;

                .mc-field-group{
                    flex: 1;
                }

                input[type="submit"]{
                    font-size: 1em;
                }
            }
        }
    }
}

.content{
    margin:0 auto $grid-gutter * 2;

    .container{
        max-width: 900px;
    }

    .container-fluid{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

        & > p,
        & > .wp-block,
        & > .wp-block-heading,
        & > .player_container,
        & > blockquote{
            @extend .container;
            max-width: 900px;
        }

        & > .footer-cta{
            max-width: 100%!important;
        }
        
        & > .scrolling-story,
        & > .wp-block-separator,
        & > .wp-block-pullquote{
            max-width: 1200px!important;
        }
    }
}

// Separator
.wp-block-separator{
    margin: 5rem auto;
}

// Product List
.post-template-template-product-list{
    #content .container{

        .content{
            margin-bottom: 0;
        }
    }
}

.single #productList{
    margin: $grid-gutter 0 0;
    // background: theme-color(lightgrey);
    // padding: $grid-gutter;

    .container{
        max-width: 1200px;
    }
    
    .product{
        margin-bottom: $grid-gutter;

        .product-wrap{
            background-color: theme-color(white);
            box-shadow: 0px 0px 10px 0px rgba(theme-color(grey), .2);
            padding: 0;
            height: 100%;

            .thumbnail{
                position: relative;
                background: theme-color(lightgrey);
                height: 0;
                padding-top: 52.4%;
                overflow: hidden;

                img{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    height: 100%;
                }
            }

            .text{
                padding: $grid-gutter;
            }
        }
    }
}