.post-template-template-afghan-women{
    .container-fluid > .player_container{
        display: none;
    }

    h1{
        margin-bottom: 0;
    }

    h2.wp-block-heading{
        font-size: 3rem;
        text-align: center;
        font-weight: 300;
        margin-bottom: 0;
    }
}

.page-header.afghan-header{
    margin-top: -30px;
    min-height: 10rem;
    display: block;
    background-color: theme-color(yellow);
    min-height: calc(100vh - 103px);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .container{
        margin: 3rem auto;
        display: block;
    }

    .read-more{
        margin-bottom: -3rem;
        text-align: center;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .arrow-down{
        color: theme-color(white);
        background-color: theme-color(black);
        width: 6rem;
        height: 6rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 2rem;
        font-weight: 600;
        margin-top: .5rem;
        padding-top: .5rem;
        cursor: pointer;
    }
}

.afghan-header-subheading{
    font-size: 1.2rem;
}

.afghan-header-thumbnail{
    margin-bottom: $grid-gutter;
}