.page-template-template-advice-tips{
    .wrap.container{
        max-width: 1200px;
    }

    .page-header{
        select{
            display: block;
            padding: 5px 10px;
            border-radius: 0;
            border-width: 2px;
            background: theme-color(white);
            
            @include media-breakpoint-up(lg){
                margin-left: auto;
            }
        }
    }

    .page-content{
        .post-group{
            display: block;
        }

        article{
            button{
                color: theme-color(blue);
            }

            @include media-breakpoint-up(md){
                float: left;
                width: 50%;
            }

            @include media-breakpoint-up(lg){
                width: 33.33%;

                &:first-child{
                    width: 50%;
                }

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4){
                    width: 50%;

                    .post-wrap{
                        display: flex;

                        .entry-thumbnail{
                            width: 200px;
                            padding-right: $grid-gutter / 2;
                        }

                        button{
                            margin-top: 0;
                        }
                    }
                }

                // &:nth-child(5){
                //     clear: left;
                // }

                &:nth-child(3n + 5){
                    clear: left
                }
            }
            
            padding: $grid-gutter / 2;

            .entry-thumbnail{
                margin-bottom: 5px;

                .thumbnail{
                    border-bottom: 0;
                }
            }
        }
    }
}
        
        