.page-template-template-startup-tips{
    &.filtered{
        .featured-posts{
            display: none;
        }
    }

    .wrap.container{
        max-width: 1200px;
    }

    .page-header{
        select{
            display: block;
            padding: 5px 10px;
            border-radius: 0;
            border-width: 2px;
            background: theme-color(white);
            
            @include media-breakpoint-up(lg){
                margin-left: auto;
            }
        }
    }

    .featured-posts{
        @include media-breakpoint-up(lg){
            article{

            &:first-child{
                width: 50%;

                .excerpt{
                    display: block;
                }
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4){
                width: 50%;
                border-bottom: 1px solid theme-color(grey);

                .post-wrap{
                    display: flex;
                    flex-flow: row-reverse;

                    .entry-text{
                        padding-right: $grid-gutter / 2;
                    }

                    .entry-thumbnail{
                        flex: 0 0 150px;
                    }

                    button{
                        margin-top: 0;
                    }
                }
            }       

            &:nth-child(4){
                border-bottom: 0;
            }
            }                
        }
    }

    .page-content{
        @include media-breakpoint-up(lg){
            article:nth-child(3n + 1){
                clear: left
            }
        }
    }

        .post-group{
            display: block;
        }


        article{
            padding: $grid-gutter / 2;
            
            button{
                color: theme-color(blue);
            }
            
            @include media-breakpoint-up(md){
                float: left;
                width: 50%;
            }
            
            @include media-breakpoint-up(lg){
                width: 33.33%;
            }

            .entry-thumbnail{
                margin-bottom: 5px;
            }
        }
}
        
        