@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";
$hamburger-padding-x: 5px;
$hamburger-padding-y: 5px;
$hamburger-types     : (squeeze);
@import "~hamburgers/dist/hamburgers.min.css";

/** Import theme styles */
@import "common/global";
@import "common/typography";

@import "components/buttons";
@import "components/banners";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "components/podcast-player";
@import "components/post";
@import "components/post-video";
@import "components/post-group";
@import "components/post-item";
@import "components/social-icons";
@import "components/widgets";
@import "components/side-menu";
@import "components/collapsible-menu";
@import "components/slideshow";


@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/author"; 
@import "layouts/category";
@import "layouts/category-entrepreneur-videos";
@import "layouts/pages";
@import "layouts/page-podcast";
@import "layouts/page-about";
@import "layouts/page-entrepreneur-stories";
@import "layouts/page-running-women-2018-elections";
@import "layouts/page-women-politics-timeline";
@import "layouts/page-100-years-power";

@import "layouts/template-advice-tips";
@import "layouts/template-1000-stories";

// Import Slick
$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
