.player_container{
    margin: 0;

    .audioplayer {
        //top: 0!important;
        border: 1px solid theme-color(darkgrey);
        background-color: theme-color(white); 
        max-width: 400px;

        .audioplayer-playpause{
            &:hover{
                background-color: theme-color(white);
                
                a{
                    border-left-color: theme-color(darkblue);
                }
            }
        }

        .audioplayer-bar{
            background-color: theme-color(lightgrey);

            .audioplayer-bar-loaded{
                background-color: theme-color(grey);
            }

            .audioplayer-bar-played{
                background-color: theme-color(blue);
            }
        }

        .audioplayer-volume{
            .audioplayer-volume-button{
                background: theme-color(white);
                
                a{
                    filter: none;
                }

                &:hover,
                &:active{
                    background: theme-color(white);
                }
            }

            .audioplayer-volume-adjust{
                background: theme-color(white);
                border: 1px solid theme-color(darkgrey);
                border-bottom-color: theme-color(white);

                div {
                    background: theme-color(lightgrey);

                    div{
                        background: theme-color(blue);
                    }
                }
            }
        }
    }
    .spp_player_textabove,
    .spp-powered-by,
    .sppbuttons{
        display: none;
    }
}

.sppbuttons {
    margin-top: 0;
}
.sppbuttons a,
.spp-powered-by,
.spp_player_textabove {
    display: none;
}
.sppbuttons.bottom .button-itunes,
.sppbuttons.bottom .button-stitcher {
    width: 49%;
    display: inline-block;
    margin-left: 0px!important;
    min-width: 0px !important;
}