// Video Posts
.video-post, 
.playlist{

    .thumbnail{
        
        .wrap-out{
            height: 0;
            padding-bottom: 56%;
            position: relative;
            background-color: theme-color(black);
            cursor: pointer;

            &:hover{
                img{
                    transform: scale(1.1);    
                    opacity: .8;
                }
            }

            img{
                transition: .25s;
            }

            .wrap-in{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .play-button{
                    color: $black;
                    background-color: theme-color(yellow);
                    padding: 10px 20px;
                    border-radius: 5px;
                }
            }
        }
    }

    .video-player{
        display: none;
        position: fixed;
        z-index: 9999;
        background: rgba(0,0,0,.9);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        .wrap{
            width: 70%;
        }

        .close{
            position: absolute;
            color: $white;
            top: 30px;
            right: 30px;
            font-size: 30px;

            &:hover{
                color: $blue;
            }
        }
        
        .embed-container {
            position: relative; 
            padding-bottom: 56.25%;
            overflow: hidden;
            max-width: 100%;
            height: auto;

            iframe,
            object,
            embed { 
                position: absolute;
                top: 0;
                left: 0;
                width: 100%!important;
                height: 100%!important;
            }
        } 
    }
}