.post-group{
    flex-wrap: wrap;

    article{
        margin-bottom: $grid-gutter;
    }

    &.format-vertical{
        article{
            @extend .col-lg-4;
        }

        &.feature-first{
            //Featured article
            article:first-child{
                @extend .col-md-12;

                .post-wrap{
                    @extend .row;

                    &> div{
                        @extend .col-md-6;
                    }
                }

                .entry-text{
                    @include media-breakpoint-up(md){
                        padding-left: $grid-gutter;

                        h3{
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

    &.format-horizontal{
      article {
        @extend .col-lg-12;
        padding: 0;
      }

      .thumbnail {
        height: auto;
        padding: 0;
      }

      .fill {
        position: relative;

        a { width: 100%; }
      }

      .post-wrap {
        display: flex;
        flex-flow: row nowrap;

        @include media-breakpoint-down(sm) {
          flex-flow: row wrap;
        }
      }

      .entry-thumbnail {
        @extend .col-md-3;
        padding: 0;
      }

      .entry-text {
        @include media-breakpoint-up(md) {
            padding-left: $grid-gutter;
        }
      }
    }
}
