article.post-item{
    .thumbnail{
        margin-bottom: $grid-gutter / 2;
        height: 0;
        padding-top: 70%;
        position: relative;
        background-color: theme-color(blue);

        &:hover{
            img{
                opacity: .8;
            }
        }

        img{
            transition: .25s;
        }
    }

    .entry-text{
        .post-title{
            font-size: 1.3em;
        }
    }
}