.side-menu {
  &--open {
    overflow: hidden;
  }

  &__body-wrap,
  &__toggle-button,
  &__container {
    transition: transform 300ms ease-out, visibility 500ms;

    @at-root .side-menu--open & {
      transition: transform 250ms ease-out;
    }
  }

  &__body-wrap {
    position: relative;
    z-index: 5;
    background-color: theme-color(white);
  }

  &__toggle-button {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 24px;
    appearance: none;
    border: 0;
    cursor: pointer;

    @include media-breakpoint-up(md) {
      display: none;
    };

    &:focus {
      outline: 0;
    }

    &__icon {
      &--close,
      &--open {
        position: absolute;
        padding: 8px 14px;
        background-color: theme-color(white);
        transition: transform 200ms 200ms;
        box-sizing: content-box;
      }

      &--close {
        transform: scale(0);
      }

      @at-root .side-menu--open & {
        &--open {
          transform: scale(0);
        }

        &--close {
          transform: scale(1);
        }
      }
    }
  }

  &__container {
    position: fixed;
    top: 0;
    bottom: 0;
    max-width: calc(100vw - 60px);
    margin: -$grid-gutter 0;
    overflow-x: hidden;
    background-color: theme-color(yellow);
    visibility: hidden;
    color: theme-color(black);

    a {
      color: inherit;

      &:hover,
      &:focus {
        color: theme-color(darkblue);
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -13px;
      bottom: 0;
      width: 12px;
      box-shadow: 1px 0 100px theme-color(black);
      transition: box-shadow 100ms 50ms ease-out;

      @at-root .side-menu--open & {
        box-shadow: -10px 0 20px theme-color(black);
        transition: box-shadow 350ms 100ms ease-out;
      }
    }

    &__inner {
      padding: ($grid-gutter * 2) $grid-gutter;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .site-name {
      padding-right: 1em;
      max-width: 250px;
      margin: .25em 0 1.5em;
      font-size: 30px;
      font-weight: bold;
    }

    .social-icons {
      position: static;
      display: block;
      margin: .5em 0;
      text-align: center;

      .social {
        color: inherit;
      }
    }
  }

  &__nav {
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0 -30px;
    list-style: none;
    color: theme-color(black);
    font-size: 18px;

    .menu-item {
      a {
        display: block;
        padding: 10px 30px;
      }
    }

    .sub-menu {
      padding-left: 24px;
      list-style: none;
      color: theme-color(darkgrey);
      font-size: 16px;
    }
  }
}
