.slideshow{
    display: none;

    .slick-track{
        display: flex;
        align-items: center;
    }

    .slide{
        text-align: center;

        &:focus{
            outline: 0;
        }

        img{
            margin: 0 auto 10px;
            width: auto;
            max-height: 600px;
        }

        p{
            color: theme-color(grey);
            font-style: italic;
            margin-bottom: 0;
        }
    }

    .slick-arrow{
        z-index: 99;

        &:before{
            color: theme-color(blue);
        }
    }

    .slick-next{
        right: 10px;
    }
    
    .slick-prev{
        left: 10px;
    }
}

.slideshow.slick-dotted.slick-slider{
    display: block;
    margin-bottom: $grid-gutter * 2;

    .slick-dots{
        max-width: none;
    }
}

//Because Safari on mobile doesn't recognize the font
@font-face {
    font-family: 'slick-font';
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/slick.woff') format('woff'), 
    url('../fonts/slick.ttf')  format('truetype');
    font-weight: normal;
    font-display: swap;
  }