.social-icons {
  position: absolute;
  right: $grid-gutter;
  bottom: 0;

  .social {
    color: theme-color(grey);
    font-size: 1.5em;
    padding: 0 5px;
    transition: .5s;

    &:hover{
      color: theme-color(blue);
    }
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}
