.social-icons {
  position: absolute;
  right: $grid-gutter;
  bottom: 0;
  width: 200px;
  display: flex;
  justify-content: space-between;

  .social {
    color: theme-color(grey);
    font-size: 1.5em;
    padding: 0 5px;
    transition: .5s;

    // FIX for replaced icons
    .svg-inline--fa {
      width: .7em;
    }

    &:hover{
      color: theme-color(blue);
    }
  }

  @include media-breakpoint-down(lg) {
    bottom: 40px;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}
